In [42]:
import pandas as pd

In [43]:
fake_news = pd.read_csv('./archive/fake.csv')
true_news = pd.read_csv('./archive/true.csv')

In [44]:
fake_news.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [45]:
true_news.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [46]:
fake_news['label']=1
true_news['label']=0

In [47]:
fake_news.head()

,title,text,subject,date,label
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",1
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",1
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",1
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",1
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",1

In [48]:
true_news.head()

,title,text,subject,date,label
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",0
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",0
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",0
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",0
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",0

In [49]:
df = pd.concat([true_news, fake_news])

In [50]:
df.head()

,title,text,subject,date,label
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",0
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",0
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",0
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",0
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",0

In [51]:
df = df.sample(frac=1).reset_index(drop=True)

In [52]:
df.head()

,title,text,subject,date,label
0,Crimean Tatar leader jailed for stirring anti-...,"SIMFEROPOL, Crimea (Reuters) - A man who led p...",worldnews,"September 11, 2017",0
1,Venezuela's opposition takes EU human rights p...,CARACAS (Reuters) - Venezuela s opposition rec...,worldnews,"December 13, 2017",0
2,OBAMA’S RACE WAR Spreads Like Cancer To London...,Because blind people are probably experts on j...,politics,"Jul 11, 2016",1
3,WATCH: MIKE HUCKABEE DEFENDS Daughter Sarah…Ma...,Mike Huckabee appeared on FOX s Hannity show w...,left-news,"Jul 4, 2017",1
4,Dispatch from inside the conventions,(Reuters) - Delegates at both the Republican a...,politicsNews,"July 28, 2016",0

In [53]:
df.isna().sum()

title      0
text       0
subject    0
date       0
label      0
dtype: int64

In [54]:
label = df.label
df.drop(['label', 'date', 'text', 'subject'], axis=1, inplace=True)

In [55]:
label.head()

0    0
1    0
2    1
3    1
4    0
Name: label, dtype: int64

In [56]:
df.head()

                                               title
0  Crimean Tatar leader jailed for stirring anti-...
1  Venezuela's opposition takes EU human rights p...
2  OBAMA’S RACE WAR Spreads Like Cancer To London...
3  WATCH: MIKE HUCKABEE DEFENDS Daughter Sarah…Ma...
4               Dispatch from inside the conventions

In [57]:
df.shape

(44898, 1)

In [58]:
label.shape

(44898,)

In [59]:
import tensorflow
from tensorflow import keras

In [60]:
from keras.layers import Embedding
from keras.preprocessing.sequence import pad_sequences
from keras.models import Sequential
from keras.preprocessing.text import one_hot
from keras.layers import LSTM, Dense
from sklearn.model_selection import train_test_split

In [61]:
voc_size = 10000

In [62]:
import nltk
import re
from nltk.corpus import stopwords

In [63]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to C:\Users\Hrithika
[nltk_data]     Dodia\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [64]:
from nltk.stem.porter import PorterStemmer

ps = PorterStemmer()

In [65]:
corpus = []
for t in df.title:
    t = re.sub('[^a-zA-Z0-9]', ' ', t)
    t = t.split()
    t = [ps.stem(word.lower()) for word in t if word not in set(stopwords.words('english'))]
    t = ' '.join(t)
    corpus.append(t)

In [66]:
print(corpus[:100])

['crimean tatar leader jail stir anti russia protest', 'venezuela opposit take eu human right prize urg world scrutini', 'obama s race war spread like cancer to london famou blind musician weigh in video', 'watch mike huckabe defend daughter sarah make hilari comparison to media and preschool age grandchildren', 'dispatch insid convent', 'watch trump get hi a hand to him by alec baldwin and tom hank on snl', 'clinton server technician declin question u s congress', 'putin accus u s of leak flight path of russian plane shot down by turkey turkey buy isi oil', 'here s how hillari s vp pick ha just proven he an anti american job destroy', 'sharia compliant swimsuit as spring arriv in europ oppress burkini will be all the rage', 'white hous ok remov obamacar mandat repeal senat tax bill', 'trump salari donat is just bullsh pr and here whi', 'trump announc that surrog won appear on network that don promot hi agenda', 'trump build team boss shake washington', 'trump islam comment draw attack republican discov civil', 'republican senat say trump yet demonstr need stabil', 'hous block googl host app yahoo mail secur fear', 'eric trump just ask the labor depart to let him hire foreign worker again', 'u s embassi zimbabw tell staff stay home due polit uncertainti', 'u s unveil revis self drive car guidelin sourc', 'wow latino group air terror like tv ad onli day ago show white man threaten to plow down muslim minor kid with truck video', 'trump lawyer dowd say draft tweet flynn fire axio', 'feckless rino john mccain wait for final day of obama presid to call out hi inept handl of cybersecur', 'fire philippin shop mall kill 37', 'must read i still tri to figur out how hillari lost the elect', 'factbox can trump kill nfl stadium tax break five fact consid', 'uk pm may say look forward work trump build tie', 'south korean foreign minist say north korea reckless path', 'how hillari s anti cop past and support for violent black live matter will destroy her presidenti ambit video', 'pelosi chuckl and mock presid trump ask about their relationship video', 'highlight the trump presid april 21 6 12 p edt 2212 gmt', 'massachusett governor sign bill hike tax recreat pot', 'the lie b tard behind the fake plan parenthood video get slap with feder lawsuit', 'support anti immigr sweden democrat tumbl poll', 'u s call u n action iran yemen missil', 'one beer compani prais for shut down busi to help texa flood victim while popular pastor joel osteen get slam for keep megachurch door shut to flood victim', 'jane goodal urg u s senat halt quest arctic refug oil', 'liz cheney claim victori wyom primari u s hous seat', 'republican push end obamacar collaps senat', 'republican senat arrest after attack landscap with shovel other lawn equip video', 'second largest u s paper now want reader to decid if trump lie are lie video', 'colorado polic offic convict of murder in jack jacquez shoot video', 'hillari hater send death threat to arizona republ for endors clinton', 'kerri say u s venezuela agre start talk eas tension', 'raw video of entitl nation thousand line up for section 8 hous need want', 'putin close friend donald trump next u s presid', 'kellyann conway slap down rabid cnn host chri cuomo aren least bit embarrass talk russia talk america video', 'the washington post just ask a major question of trump administr and he be livid', 'judg order trump to court in earli januari trump claim he can make it', 'bulgaria arrest gang suspect smuggl migrant western europ', 'south sudan govern rebel group sign ceasefir', 'factbox trump 10 point immigr plan', 'connecticut governor malloy say seek elect 2018', 'a 50 000 free for all for minor in the biggest obama scandal yet', 'franc germani want iran revers ballist missil program', 'iraqi forc seiz oil citi kirkuk kurd bold advanc', 'list of 24 republican who vote ye to keep obama taxpay fund sex chang surgeri in place for transgend in militari', 'pinera hold lead chile presidenti race poll', 'bill cut aid palestinian pass u s committe', 'watch berni sander blast netanyahu treatment of presid obama video', 'deputi attorney gener brief full senat comey fire', 'steve bannon just made a big announc about what he be do after leav the white hous and it veri bad news for the left', 'erdogan say discuss case ex turkish minist trump visit', 'grifter bill clinton made big buck off of chariti speak fee', 'democrat senat tussl u s treasuri secretari commun', 'gentl giant michael brown memori unveil video captur arrest made at memori spot on same day', 'muslim scholar critic obama explain whi american need to give presid elect trump a chanc video', 'state dept employe tap to overse hillari email scandal donat 2700 to her campaign onli 2 month ago', 'gop strategist trump support are all crazi nazi who masturb to anim video', 'kuwait tell aoun support lebanes sovereignti', 'year in review 2017 top ten conspiraci', 'canadian hilari humili three trump support for insult hi countri', 'seven iranian freed prison swap return iran', 'watch s e cupp destroy trump advis fantasi that women support donald trump', 'u s hous democrat seek info deutsch bank trump account', 'paul krugman share the one damn truth about corrupt republican we can all agre on detail', 'reveal the dark agenda behind global open border', 'kosovo parti sign deal form govern end polit deadlock', 'former leader germani far right plan found new parti', 'obama hope quiet white hous defend core valu', 'congress probe junip back door exposur possibl u s involv', 'the star trek franchis mobil against donald trump for a brighter futur', 'gq magazin pen repuls articl on brilliant neurosurgeon f ck ben carson', 'indigen woman regist run mexican presid 2018', 'trump accus qatar of fund terror sell them 12 billion worth of weapon', 'watch gop rep dave brat turn tabl on fakenew cnn accus them of collus with liber media cnn action are uneth but not illeg', 'u s issu rule tighten individu travel restrict cuba', 'local report in deep blue state stun liber when he goe rogu tell truth about gun video', 'russian offici worri eu move defens pact', 'britain u s deni trump state visit delay', 'buzzfe termin republican ad deal trump', 'republican humili as john mccain slam their latest attempt to repeal obamacar video', 'econom growth partial offset deficit impact u s tax plan jct', 'after whine about nfl disrespect trump laugh and joke dure militari ceremoni', 'video dumb and dumber star bash trump use worst exampl of femal leader to promot hillari', 'the latest delus from devin nune will make you sick thi is exactli whi he can be trust', 'small protest trump japan philippin', 'instantview hous republican pass revis obamacar overhaul', 'nurs from one of nation largest hospit tweet everi white woman rais detriment societi rais son their son sacrif wolv b', 'my pope just invit a radic pro abort socialist name berni to the vatican should conserv cathol be outrag']

In [67]:
from keras.preprocessing.text import one_hot

In [68]:
onehot_repr=[one_hot(sentence, voc_size) for sentence in corpus]

In [69]:
onehot_repr[:10]

[[7094, 2168, 5764, 6027, 2984, 7228, 1466, 8998],
 [4472, 1723, 4371, 5087, 5116, 6090, 9413, 3642, 4325, 6089],
 [4720,
  3276,
  7369,
  7735,
  2574,
  1295,
  2594,
  431,
  1646,
  9271,
  1517,
  6360,
  9729,
  67,
  469],
 [8607,
  5894,
  7551,
  3005,
  9331,
  3319,
  5720,
  8611,
  1559,
  431,
  924,
  3755,
  5596,
  2793,
  905],
 [5534, 6768, 8957],
 [8607,
  708,
  5707,
  771,
  8186,
  9623,
  431,
  744,
  6095,
  9381,
  3203,
  3755,
  6256,
  7789,
  8162,
  4749],
 [4089, 1056, 7449, 1738, 5745, 2428, 3276, 2918],
 [851,
  1341,
  2428,
  3276,
  3059,
  4901,
  261,
  6125,
  3059,
  5355,
  9128,
  9475,
  1397,
  6095,
  9212,
  9212,
  5409,
  4665,
  4611],
 [6315,
  3276,
  4720,
  8411,
  3276,
  897,
  5759,
  6744,
  5842,
  6882,
  5689,
  4414,
  7228,
  5624,
  3460,
  843],
 [8713,
  3780,
  3580,
  2514,
  6120,
  7139,
  67,
  4704,
  668,
  4617,
  9289,
  5317,
  958,
  9803,
  8252]]

In [70]:
sent_length = 15
embedded_docs=pad_sequences(onehot_repr, padding='pre', maxlen=sent_length)

In [71]:
print(embedded_docs)

[[   0    0    0 ... 7228 1466 8998]
 [   0    0    0 ... 3642 4325 6089]
 [4720 3276 7369 ... 9729   67  469]
 ...
 [   0    0 8607 ... 9803 2424  469]
 [   0    0    0 ... 4363 5628 1585]
 [   0  198 1037 ... 3059 5138  436]]

In [72]:
len(embedded_docs)

44898

In [73]:
X_train, X_test, y_train, y_test = train_test_split(embedded_docs, label, test_size=0.2, random_state=42)

In [74]:
X_test[:10]

array([[   0,    0,    0,    0,    0,    0,    0, 9344, 2324, 2368,  507,
        8695, 3460, 2757, 1813],
       [   0,    0, 8607, 4557, 4782, 5385, 6089,  708, 5963, 8598, 1155,
         503, 3059, 1675, 4608],
       [3059, 9591, 7494, 6871, 4781, 3182, 9043, 5160,  469, 7450, 3072,
         431,  376,  539,  469],
       [   0,    0,    0,    0,    0,    0,    0,    0, 1392, 9986, 1142,
        5788,  595, 2432, 3384],
       [   0,    0,    0,    0,    0,    0,    0,    0, 5004, 5796, 6287,
        5745,  458, 6485, 5796],
       [3501, 4485, 7115, 9841, 5276, 4452, 8960, 5259, 3299,  530,  767,
        3689, 8337, 2635,  469],
       [   0,    0,    0,    0,    0,    0,    0,    0, 9109, 7301, 1817,
        3707, 7028, 8617, 8301],
       [1370,  431, 7837, 5585, 5963, 5189,  487, 4634, 6792, 8439, 6882,
          95, 4432, 6047,  433],
       [   0,    0,    0,    0,    0, 7551, 9107, 9570,  431, 4149,   67,
        8663, 3756, 4453,  469],
       [   0,    0,    0,    0,    0,    0,    0,    0, 6643, 9344, 4284,
        1242, 7253, 1857,  440]])

In [75]:
embedding_vector_features = 50

model=Sequential()
model.add(Embedding(voc_size, embedding_vector_features, input_length=sent_length))
model.add(LSTM(50))
model.add(Dense(1, activation='sigmoid'))
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [76]:
model.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_2 (Embedding)      (None, 15, 50)            500000
_________________________________________________________________
lstm_2 (LSTM)                (None, 50)                20200
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 51
=================================================================
Total params: 520,251
Trainable params: 520,251
Non-trainable params: 0
_________________________________________________________________

In [77]:
model.fit(X_train, y_train, validation_data=(X_test, y_test), epochs=5)

Epoch 1/5
1123/1123 [==============================] - 13s 12ms/step - loss: 0.0794 - accuracy: 0.9716 - val_loss: 0.0434 - val_accuracy: 0.9859
Epoch 2/5
1123/1123 [==============================] - 13s 12ms/step - loss: 0.0216 - accuracy: 0.9926 - val_loss: 0.0324 - val_accuracy: 0.9894
Epoch 3/5
1123/1123 [==============================] - 13s 12ms/step - loss: 0.0090 - accuracy: 0.9971 - val_loss: 0.0303 - val_accuracy: 0.9915
Epoch 4/5
1123/1123 [==============================] - 13s 12ms/step - loss: 0.0053 - accuracy: 0.9982 - val_loss: 0.0364 - val_accuracy: 0.9901
Epoch 5/5
1123/1123 [==============================] - 13s 12ms/step - loss: 0.0025 - accuracy: 0.9992 - val_loss: 0.0442 - val_accuracy: 0.9888